@charset "UTF-8";
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/BarlowSemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/BarlowSemiCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/BarlowSemiCondensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/BarlowSemiCondensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lilita One";
  src: url("../fonts/LilitaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #837360;
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  font-family: "Lilita One", cursive;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
}

.header-burger {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-burger {
    display: none;
  }
}
.header-burger__item {
  width: 50%;
}
.header-burger__logo {
  width: 40%;
}
.header-burger__logo img {
  width: 100%;
}

.header-burger__item {
  width: 50%;
  transition: background-color 0.3s ease;
}
.header-burger__item.open {
  background-color: #d9911d;
}

.header-nav .close {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 768px) {
  .header-nav .close {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

.header-burger .fa-solid {
  font-size: 2rem;
  padding: 2rem;
}

.header-burger .fa-xmark {
  color: #fff;
}

.header-burger .fa-burger {
  color: #837360;
}

.header-nav {
  background-color: #d9911d;
  width: 50%;
  position: fixed;
  top: 15%;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.header-nav.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}
@media (min-width: 768px) {
  .header-nav {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    position: static;
    height: auto;
  }
}
.header-nav .header-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header-nav .header-nav__list {
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
  }
}
.header-nav .header-nav__item {
  list-style-type: none;
  width: 100%;
  padding: 2rem;
}
.header-nav .header-nav__item.active {
  background-color: #fff;
}
.header-nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .header-nav__link {
    font-size: 1.2rem;
  }
}
.header-nav .header-nav__item.active .header-nav__link {
  color: #d9911d;
}
.header-nav__link:hover {
  color: #681704;
}

footer {
  background-color: #d9911d;
  color: #fff;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.home__container {
  display: flex;
  align-items: center;
}
.home__hero {
  width: 100%;
}
.home__title {
  z-index: 10;
  position: absolute;
  color: #681704;
  max-width: 30%;
  font-size: 1.6rem;
  padding-left: 0.5rem;
  line-height: 2rem;
}
@media (min-width: 1024px) {
  .home__title {
    font-size: 3rem;
    line-height: 4rem;
    text-align: left;
    padding-left: 1.5rem;
  }
}
.home__introduction {
  padding: 3rem 2rem;
  text-align: justify;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .home__introduction {
    padding: 5rem 20%;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
  }
}
.home .home-description {
  padding: 3rem 2rem;
  background-color: #681704;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .home .home-description {
    align-items: center;
  }
}
.home .home-description__list {
  padding-left: 3rem;
}
.home .home-description__item:nth-child(1) {
  list-style-type: "🥘";
}
.home .home-description__item:nth-child(2) {
  list-style-type: "🧁";
}
.home .home-description__item:nth-child(3) {
  list-style-type: "🥧";
}
.home .home-description__item:nth-child(4) {
  list-style-type: "🍝";
}
.home .home-description__item {
  padding: 0.5rem 0 0.5rem 1rem;
}
.home__sentence {
  padding: 3rem;
  text-align: center;
  color: #000000;
  font-style: italic;
  font-weight: 600;
}
.home .home-randomRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.home .home-randomRecipe .recipes-item {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #bab2ab;
  background-color: #dedad7;
  box-shadow: 2px 2px 10px #dedad7;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 768px) {
  .home .home-randomRecipe .recipes-item {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .home .home-randomRecipe .recipes-item {
    width: 20%;
  }
}
.home .home-randomRecipe .recipes-item__title {
  cursor: pointer;
  font-family: "Lilita One", cursive;
  padding: 0.5rem;
}
.home .home-randomRecipe .recipes-item__link {
  text-decoration: none;
  color: #837360;
}
.home .home-randomRecipe .recipes-item__picture {
  max-width: 70%;
  border-radius: 10px;
}
.home .home-randomRecipe .recipes-item__time {
  font-weight: 600;
}
.home .home-randomRecipe .recipes-item__time::before {
  content: "⏲️";
}
.home .home-randomRecipe .recipes-item__desc {
  text-align: center;
}
.home .home-randomRecipe .recipes-item:hover {
  background-color: #bab2ab;
  box-shadow: 1px 1px 15px #bab2ab;
}

.recipes {
  padding: 1rem;
}
.recipes__noresult {
  text-align: center;
  padding: 6rem 2rem;
}
.recipes .recipes-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 2rem;
}
.recipes .recipes-form .recipes-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.recipes .recipes-form .recipes-filterByLevel__link {
  text-decoration: none;
  background-color: #dedad7;
  padding: 0.5rem 1rem;
  border: 1px solid #bab2ab;
  border-radius: 5px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #837360;
  font-size: 1rem;
}
.recipes .recipes-form .recipes-filterByLevel__link:hover {
  background-color: #bab2ab;
}
.recipes .recipes-form__input {
  width: 70%;
  padding: 1rem;
  border: 1px solid #dedad7;
  border-radius: 5px;
}
@media (min-width: 1024px) {
  .recipes .recipes-form__input {
    width: 50%;
  }
}
.recipes .recipes-form__buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.recipes .recipes-form__button, .recipes .recipes-form__reset {
  text-decoration: none;
  background-color: #dedad7;
  padding: 0.5rem 1rem;
  border: 1px solid #bab2ab;
  border-radius: 5px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #837360;
  font-size: 1rem;
}
.recipes .recipes-form__button:hover, .recipes .recipes-form__reset:hover {
  background-color: #bab2ab;
}
.recipes .recipes-filterByCategory__link {
  text-decoration: none;
  background-color: #dedad7;
  padding: 0.5rem 1rem;
  border: 1px solid #bab2ab;
  border-radius: 5px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #837360;
  font-size: 1rem;
}
.recipes .recipes-filterByCategory__link:hover {
  background-color: #bab2ab;
}
.recipes .recipes-category__list,
.recipes .recipes-level__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .recipes .recipes-category__list,
  .recipes .recipes-level__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6rem 0 10% 0;
  }
}
.recipes .recipes-category__list .recipes-item,
.recipes .recipes-level__list .recipes-item {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #bab2ab;
  background-color: #dedad7;
  box-shadow: 2px 2px 10px #dedad7;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 768px) {
  .recipes .recipes-category__list .recipes-item,
  .recipes .recipes-level__list .recipes-item {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .recipes .recipes-category__list .recipes-item,
  .recipes .recipes-level__list .recipes-item {
    width: 20%;
  }
}
.recipes .recipes-category__list .recipes-item__title,
.recipes .recipes-level__list .recipes-item__title {
  cursor: pointer;
  font-family: "Lilita One", cursive;
  padding: 0.5rem;
}
.recipes .recipes-category__list .recipes-item__link,
.recipes .recipes-level__list .recipes-item__link {
  text-decoration: none;
  color: #837360;
}
.recipes .recipes-category__list .recipes-item__picture,
.recipes .recipes-level__list .recipes-item__picture {
  max-width: 70%;
  border-radius: 10px;
}
.recipes .recipes-category__list .recipes-item__time,
.recipes .recipes-level__list .recipes-item__time {
  font-weight: 600;
}
.recipes .recipes-category__list .recipes-item__time::before,
.recipes .recipes-level__list .recipes-item__time::before {
  content: "⏲️";
}
.recipes .recipes-category__list .recipes-item__desc,
.recipes .recipes-level__list .recipes-item__desc {
  text-align: center;
}
.recipes .recipes-category__list .recipes-item:hover,
.recipes .recipes-level__list .recipes-item:hover {
  background-color: #bab2ab;
  box-shadow: 1px 1px 15px #bab2ab;
}
.recipes .recipes-category__list .recipes-item .recipes-item-difficulty__container,
.recipes .recipes-level__list .recipes-item .recipes-item-difficulty__container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.recipes .recipes-category__list .recipes-item .recipes-item-difficulty__title,
.recipes .recipes-level__list .recipes-item .recipes-item-difficulty__title {
  font-weight: 600;
}
.recipes .recipes-category__list .recipes-item .recipes-item-difficulty__stars,
.recipes .recipes-level__list .recipes-item .recipes-item-difficulty__stars {
  color: #d9911d;
}

.recipe-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
}
.recipe-stats table {
  background-color: #837360;
  border-radius: 10px;
  color: #fff;
}
.recipe-stats table thead th {
  padding: 1rem;
}
.recipe-stats table tbody tr th {
  padding: 1rem;
  text-align: left;
  font-weight: 100;
}
.recipe-stats table tbody tr td {
  background-color: #fff;
  color: #837360;
  text-align: center;
  padding: 1rem 3rem;
}

.about__content {
  padding: 2rem 2rem;
  line-height: 1.6rem;
}
.about .about-top {
  background-color: #681704;
  width: 100%;
  color: #fff;
  padding: 2rem;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about .about-top__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}
.about .about-top__item {
  list-style-type: none;
}
.about .about-top__item::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  padding-right: 10px;
}

.astuces__title {
  padding: 3rem 0;
}
.astuces__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #fff;
  width: 100%;
  padding: 2rem 0;
}
@media (min-width: 1024px) {
  .astuces__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.astuces .astuces-item {
  background-color: #bab2ab;
  padding: 2rem 1rem;
}
@media (min-width: 1024px) {
  .astuces .astuces-item {
    width: 45%;
    border-radius: 10px;
    padding: 2rem;
  }
}
.astuces .astuces-item__title {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 1rem 0;
}
.astuces .astuces-item__title::before {
  content: "🚨";
}
.astuces .astuces-item__content {
  text-align: center;
}

.recipe-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-detail .recipe-detail-header {
  display: flex;
  width: 100%;
  padding: 3rem 0;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 768px) {
  .recipe-detail .recipe-detail-header {
    justify-content: flex-start;
    gap: 5rem;
    padding: 3rem;
  }
}
.recipe-detail .recipe-detail-header__title {
  padding: 0;
}
.recipe-detail .recipe-detail-header__return {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #bab2ab;
  background-color: #dedad7;
  color: #837360;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #dedad7;
  cursor: pointer;
}
@media (min-width: 768px) {
  .recipe-detail__wrapper {
    display: flex;
    align-items: center;
  }
}
.recipe-detail__picture {
  width: 100%;
}
@media (min-width: 768px) {
  .recipe-detail__picture {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .recipe-detail__picture {
    width: 30%;
    border-radius: 10px;
    margin: 2rem;
  }
}
.recipe-detail__infos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  font-weight: 600;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .recipe-detail__infos {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem 2rem;
  }
}
.recipe-detail__time::before {
  content: "⏲️";
}
.recipe-detail .recipes-detail-difficulty__container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.recipe-detail .recipes-detail-difficulty__title {
  font-weight: 600;
}
.recipe-detail .recipes-detail-difficulty__stars {
  color: #d9911d;
}
.recipe-detail__desc {
  text-align: center;
  padding: 3rem 2rem;
}
@media (min-width: 768px) {
  .recipe-detail__desc {
    text-align: left;
  }
}
.recipe-detail__content {
  width: 100%;
}
@media (min-width: 768px) {
  .recipe-detail__content {
    display: flex;
  }
}
.recipe-detail .recipe-detail-ingredient__container {
  width: 100%;
  background-color: #d9911d;
  color: #fff;
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .recipe-detail .recipe-detail-ingredient__container {
    width: 50%;
    background-color: #fff;
    color: #837360;
  }
}
.recipe-detail .recipe-detail-ingredient__title {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.recipe-detail .recipe-detail-ingredient__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.recipe-detail .recipe-detail-ingredient__item {
  margin-left: 20%;
  list-style-type: "🥣";
  padding-left: 1rem;
}
.recipe-detail .recipe-detail-instructions__container {
  width: 100%;
  padding: 3rem 2rem;
}
@media (min-width: 768px) {
  .recipe-detail .recipe-detail-instructions__container {
    width: 50%;
    background-color: #837360;
    color: #fff;
  }
}
.recipe-detail .recipe-detail-instructions__title {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.recipe-detail .recipe-detail-instructions__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.recipe-detail .recipe-detail-instructions__item {
  margin-left: 5%;
  padding-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
