// Colors
$coyote: #837360;
$gold: #d9911d;
$timberwolf: #dedad7;
$silver: #bab2ab;
$red: #681704;
$white: #fff;
$black: #000000;

$background-global: $timberwolf;
$background-nav: $gold;
$background-section: $white;
$background-card: $coyote;

$text-primary: $coyote;
$text-light: $timberwolf;
$text-accent: $red;
$text-secondary: $gold;
