.home {
  &__container {
    display: flex;
    align-items: center;
  }
  &__hero {
    width: 100%;
  }

  &__title {
    z-index: 10;
    position: absolute;
    color: $red;
    max-width: 30%;
    font-size: 1.6rem;
    padding-left: 0.5rem;
    line-height: 2rem;

    @media (min-width: 1024px) {
      font-size: 3rem;
      line-height: 4rem;
      text-align: left;
      padding-left: 1.5rem;
    }
  }

  &__introduction {
    padding: 3rem 2rem;
    text-align: justify;
    font-weight: 600;

    @media (min-width: 1024px) {
      padding: 5rem 20%;
      text-align: center;
      font-weight: 300;
      font-size: 1.2rem;
    }
  }

  .home-description {
    padding: 3rem 2rem;
    background-color: $red;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: 1024px) {
      align-items: center;
    }

    &__list {
      padding-left: 3rem;
    }

    &__item:nth-child(1) {
      list-style-type: '🥘';
    }
    &__item:nth-child(2) {
      list-style-type: '🧁';
    }
    &__item:nth-child(3) {
      list-style-type: '🥧';
    }
    &__item:nth-child(4) {
      list-style-type: '🍝';
    }

    &__item {
      padding: 0.5rem 0 0.5rem 1rem;
    }
  }

  &__sentence {
    padding: 3rem;
    text-align: center;
    color: $black;
    font-style: italic;
    font-weight: 600;
  }

  .home-randomRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .recipes-item {
      @include card;
    }
  }
}
