.recipes {
  padding: 1rem;
  &__noresult {
    text-align: center;
    padding: 6rem 2rem;
  }

  .recipes-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 2rem;

    .recipes-form__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 2rem;
    }
    .recipes-filterByLevel {
      &__link {
        @include button;
      }
    }

    &__input {
      width: 70%;
      padding: 1rem;
      border: 1px solid $timberwolf;
      border-radius: 5px;
      @media (min-width: 1024px) {
        width: 50%;
      }
    }

    &__buttons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    &__button,
    &__reset {
      @include button;
    }
  }

  .recipes-filterByCategory {
    &__link {
      @include button;
    }
  }

  .recipes-category,
  .recipes-level {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem 0;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 6rem 0 10% 0;
      }

      .recipes-item {
        @include card;

        .recipes-item-difficulty {
          @include level;
        }
      }
    }
  }
}

.recipe-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;

  table {
    @include table;
  }
}
